/* categorias */
body{
    background-color: #eef9bf;
    font-family: roboto;
}

h1{
    color:#75b79e;
}

/* categorias */

.game_title{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    
    
}


.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/*cartas*/

 .card{
    
    width: 117px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 34px;
   margin-bottom:34px;
     
    
}

.card img{
    width: 100px;
    height: 100px;
}




  .face {
    width: 117px;
    height: 146px;
    background-color: #99CEA8;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
    
  }

  .selected .back-face {
    transform: rotateY(0deg);
  }

  .selected .front-face {
    transform: rotateY(-180deg);
  }

/* card flip*/

@media (max-width:614px){
    .cards{
        width:117px;
        margin-left:auto;
        margin-right:auto;
    }
    

}
